<div class="grid">
    <div class="col-12">
        <div class="card">

            <p-table #dt [value]="listaClientes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombre','apellido','email','address']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedClients" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="apellido">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="phone">Telefono <p-sortIcon field="phone"></p-sortIcon></th>
                        <th pSortableColumn="address">Direccion <p-sortIcon field="address"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-client>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="listaClientes"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{client.name}}
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Apellido</span>
                            {{client.lastname}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{client.email}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Telefono</span>
                            {{client.phone}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Direccion</span>
                            {{client.address}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editClient(client)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteClient(client)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="clientDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="name">Nombres</label>
                    <input type="text" pInputText id="name" [(ngModel)]="client.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.name">Name is required.</small>
                </div>


                <div class="field">
                    <label for="name">Apellidos</label>
                    <input type="text" pInputText id="lastname" [(ngModel)]="client.lastname" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.lastname}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="name">Email</label>
                    <input type="text" pInputText id="email" [(ngModel)]="client.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !client.lastname}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !client.email">Name is required.</small>
                </div>
                <div class="field">
                    <div>
                    <span>
                        <p-dropdown [options]="addresses" [(ngModel)]="selectedDrop" placeholder="Seleccione una direccion" [showClear]="true"></p-dropdown>
                    </span>
                    </div>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveClient()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteClientsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="client">Are you sure you want to delete <b>{{client.name}} - {{client.lastname}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteClientsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>


    </div>
</div>
