<div class="grid">
    <div class="col-12">
        <div class="card">

            <p-table #dt [value]="bookList" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['title','language','description','pages']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registro de libros" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="bookId">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Libros disponibles</h5>
                        <button pButton pRipple label="Agregar Libro" icon="pi pi-book" class="p-button-outlined p-button-success" routerLink="/uikit/bookForm"></button>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="bookId">ID <p-sortIcon field="bookId"></p-sortIcon></th>
                        <th pSortableColumn="title">Título <p-sortIcon field="title"></p-sortIcon></th>
                        <th>Portada</th>
                        <th pSortableColumn="pages"># Páginas <p-sortIcon field="pages"></p-sortIcon></th>
                        <th pSortableColumn="language">Idioma <p-sortIcon field="language"></p-sortIcon></th>
                        <th pSortableColumn="description">Descripción <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="authorId">ID Autor <p-sortIcon field="authorId"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-book>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">ID</span>
                            {{book.bookId}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{book.title}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Image</span>
                            <img src="{{book?.bookCover}}" [alt]="book.title" width="100" class="shadow-4" />
                       
                         </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Price</span>
                            {{book.pages}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{book.language}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Description</span>
                            {{book.description}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Author</span>
                            {{book.authorId}} 
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editBook(book)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteBook(book?.bookId)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="bookDialog" [style]="{width: '450px'}" header="Editar Información del Libro" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="title">Titulo</label>
                    <input type="text" pInputText id="title" [(ngModel)]="book.title" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.title}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.title">Title is required.</small>
                </div>
                <div class="field">
                    <label for="name">Idioma</label>
                    <input type="text" pInputText id="language" [(ngModel)]="book.language" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.language}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.language">Language is required.</small>
                </div>
                <div class="field">
                    <label for="name"># Páginas</label>
                    <input type="number" pInputText id="pages" [(ngModel)]="book.pages" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.pages}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.pages">Pages is required.</small>
                </div>
                <div class="field">
                    <label for="name">Descripción</label>
                    <input type="text" pInputText id="description" [(ngModel)]="book.description" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.description}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.description">Description is required.</small>
                </div>
                <div class="field">
                    <label for="name">URL de foto de portada</label>
                    <input type="text" pInputText id="bookCover" [(ngModel)]="book.bookCover" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.bookCover}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.bookCover">Book Cover is required.</small>
                </div>
                <div class="field">
                    <label for="name">Stock</label>
                    <input type="number" pInputText id="stock" [(ngModel)]="book.stock" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !book.stock}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !book.stock">Stock is required.</small>
                </div>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBook()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
