<div class="grid p-fluid">
	<div class="col-12 md:col-6">
		<div class="card">
			<h5>Agregar Autor</h5>
            <p>Ingrese los datos correspondientes para agregar el autor a la lista: </p>
			<div class="field">
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-user"></i>
                        <input pInputText type="text" placeholder="Nombre Completo" />
                    </span>
                </div>
			</div>
            <button pButton pRipple type="button" label="Agregar autor" class="p-button-rounded p-button-success mr-2 mb-2"></button>		
		</div>

		<div class="card p-fluid">
			<h5>Agregar Categoria</h5>
            <p>Ingrese los datos correspondientes para agregar la categoría a la lista: </p>
			<div class="field">
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-bookmark-fill"></i>
                        <input pInputText type="text" placeholder="Categoria" />
                    </span>
                </div>
			</div>
            <button pButton pRipple type="button" label="Agregar categoria" class="p-button-rounded p-button-info mr-2 mb-2"></button>		
		</div>

		<div class="card">
			<h5>Agregar Editorial</h5>
            <p>Ingrese los datos correspondientes para agregar el editorial a la lista: </p>
			<div class="field">
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-box"></i>
                        <input pInputText type="text" placeholder="Editorial" />
                    </span>
                </div>
			</div>
            <button pButton pRipple type="button" label="Agregar editorial" class="p-button-rounded p-button-help mr-2 mb-2"></button>		
		</div>
	</div>
    <div class="col-12 md:col-6">
		<div class="flex justify-content-center">
            <p-image src="https://st4.depositphotos.com/12085526/24142/i/450/depositphotos_241427912-stock-photo-open-old-book-oak-wooden.jpg" alt="Image" [preview]="false"></p-image>
        </div> 
	</div>
</div>