<div class="grid p-fluid">
	<div class="col-12 md:col-11">
		<div class="card">
			<h5>Agregar Prestamo</h5>
            <p>Ingrese los datos correspondientes para agregar un nuevo prestamo: </p>
            <div class="field">
                <form [formGroup]="datosPrestamo">
                    <h5>Usuario</h5>
                    <p-inputNumber formControlName="clientId" from placeholder="userId" mode="decimal" [showButtons]="true" [min]="0" [max]="100">
                    </p-inputNumber>
                    
                    <h5>Fecha de Retorno</h5>
                    <p-calendar placeholder="Fecha De Retorno" [showIcon]="true" [showButtonBar]="true" [(ngModel)]="selectedDate"></p-calendar>
                    
                    <h5>Listado de Libros</h5>
                    
                    <h5>Libro 1</h5>
                    <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="100">
                    </p-inputNumber>
                    <h5>Libro 2</h5>
                    <p-inputNumber  mode="decimal" [showButtons]="true" [min]="0" [max]="100">
                    </p-inputNumber>
                    <h5>Libro 3</h5>
                    <p-inputNumber mode="decimal" [showButtons]="true" [min]="0" [max]="100">
                    </p-inputNumber>
                </form>
			</div>
            <button pButton pRipple type="button" (click)="addLoan()" label="Agregar Prestamo" class="p-button-rounded p-button-success mr-2 mb-2"></button>		
		</div>
	</div>
</div>