<div class="grid p-fluid">
	<div class="col-12 md:col-11">
		<div class="card">
			<h5>Agregar Prestamo</h5>
            <p>Ingrese los datos correspondientes para agregar un nuevo prestamo: </p>
            <div class="field">
                <form [formGroup]="datosPrestamo">                
                    <h5>Usuario</h5>
                    <p-dropdown formControlName="clientId" [options]="clients" [(ngModel)]="selectedDrop" placeholder="Seleccione una direccion" [showClear]="true"></p-dropdown>
			     
                    <h5>Fecha de Retorno</h5>
                    <p-calendar formControlName="returnDate" placeholder="Fecha De Retorno" [showIcon]="true" [showButtonBar]="true"></p-calendar>
                    
                    <h5>Listado de Libros</h5>

                    <p-table #dt [value]="books" [columns]="cols" [paginator]="true" [rows]="5" responsiveLayout="scroll" [globalFilterFields]="['title','pages','stock']" [paginator]="true"  [showCurrentPageReport]="true" currentPageReportTemplate="Viendo listado {first} al {last}, de {totalRecords} Libros" [(selection)]="selectedBooks" dataKey="bookId">
                      <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Busqueda por titulo</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" />
                            </span>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
                            <th pSortableColumn="title">Título<p-sortIcon field="title"></p-sortIcon></th>
                            <th pSortableColumn="pages"> Páginas <p-sortIcon field="pages"></p-sortIcon></th>
                            <th pSortableColumn="stock">Stock<p-sortIcon field="stock"></p-sortIcon></th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-book>
                          <tr>
                            <td>
                                <p-tableCheckbox [value]="book"></p-tableCheckbox>
                            </td>
                            <td style="width: 35%; min-width: 7rem;">{{book.title}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{book.pages}}</td>
                            <td style="width: 15%; min-width: 8rem;">{{book.stock}}</td>
                          </tr>
                      </ng-template>
                  </p-table>
                </form>
			</div>
            <button pButton pRipple type="button" (click)="addLoan()" label="Agregar Prestamo" class="p-button-rounded p-button-success mr-2 mb-2"></button>		
		</div>
	</div>
</div>